        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #go-to-homepage-btn {
            position: fixed;
            top: 2vw;
            right: 2vw;
            width: 3vw;
            height: 3vw;
            background-color: #ff0000;
            color: #fff;
            font-size: 3vw;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }