<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/index.js"></script>
    <title>AlembIQ</title>

</head>
<body>
    <span class="logo">⚗️</span>
    <h1>Welcome to AlembIQ!</h1>
    <p>Choose a tool:</p>
    <div class="buttons-container">
        <button onclick="runMolDraw()" data-text="Molecule Viewer">🔎</button>
        <button onclick="insertMolecule()" data-text="Molecule Inserter">⬆️</button>
        <button onclick="runDBBrowser()" data-text="Database Editor">🪶</button>
        <hr>
        <button onclick="confirmDBInit()" data-text="Database Initializer">⚠️</button>
    </div>

    <script>
        // JavaScript to change button content on hover
        const buttons = document.querySelectorAll('.buttons-container button');
        buttons.forEach(button => {
            button.addEventListener('mouseover', () => {
                button.textContent = button.dataset.text;
            });

            button.addEventListener('mouseout', () => {
                button.textContent = button.dataset.emoji;
            });

            // Store the initial emoji content in the 'data-emoji' attribute
            button.dataset.emoji = button.textContent;
        });
    </script>
</body>
</html>